* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body {
    background-color: #080808;
    color: #fff;

}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(mybcccc.png.jpeg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

}


.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}

.logo {

    text-decoration: none;
    font-size: 30px;
    color: #845df0;


}

.logo span {
    color: #F70d1a;
    font-family: Verdana ;
}

.logo span .abcedef {
    color: #d6d315;
    font-family: Verdana ;
}

nav ul li {

    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #f2f5e9;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a.hm{
    color: #15d9e0;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


nav ul li a.hm::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

nav ul li a.hm::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}


nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

nav ul li a.hm:hover::after {
    width: 55px;


}

nav ul li a:hover::after {
    width: 55px;


}


.header-text {

    margin-top: 20%;
    font-size: 30px;


}

.header-text h1.tech {
    font-size: 20px;
    letter-spacing: 2px;

}

.header-text h1.tech span {
    color: #f660ab;
}


.header-text h1 span.a {
    color: #ff7300;

}

.header-text h1 span.ab {
    color: #0d8f23;

}

.header-text h1 span.abc {
    color: #fff;

}

.header-text h1 {
    font-size: 55px;
    margin: 20px;
}

.header-text h1 span {
    color: #fcba06;
    font-family: "Times New Roman", Times, serif
}
.header-text h1 span .ya{
    color: #fcba06;
    font-family: "Times New Roman", Times, serif
}



.header-text h6 {
    color: brown;
}

/*-------about----*/

#about {
    padding: 80px 0;
    color: #41bcf5;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 17px;

}

.about-col-2 {
    flex-basis: 60%;

}

.sub-title {
    font-size: 50px;
    font-weight: 799;
    color: rgb(205, 216, 219);
}

.tab-title {
    display: flex;
    margin: 20px 0 40px;

}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: chartreuse;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ee5151;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-content ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-content ul li span {
    color: #ff004f;
    font-size: 14px;
}

#certification span {
    color: #ff004f;
}


#certification span.yearssss
{
    color: #ff004f;
}
#education h5 {
    color: rgb(187, 167, 182);
}


#education h5.pe {
    color: rgb(142, 91, 209);
}

.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: block;
}


/*---------------my-----skills------------------------------------------------------*/

#myskills {
    padding: 30px 0;
}

.myskills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    display: flex;
    margin: 20px 0 40px;

}

.myskills-list div {

    background: #262626;
    padding: 40px;
    font: size 14px;
    font-weight: 300;
    border-radius: 12px;
    transition: background 0.5s, transform 0.5s;
}

.myskills-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

.myskills-list div:hover {
    background-color: #ff004f;
    transform: translate(-10px);
}

/*--------------------------------My----Projects -------*/
#porject {
    padding: 50px 0;

}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  

}
 

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}




.work img {
    width: 100%;
    transition: transformX(0.5s);
    border-radius: 10px;
    display: block;
  




}

.layer {
   
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #2de069);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}



.layer h3 { 
    margin-bottom: 20px ;
   width: 100%;
 color: hwb(69 7% 11%);

}




.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #e70f74;
    padding: 14px 50px;
    border-radius: 7px;
    text-decoration: none;
    color: #880202;
    transition: background 0.5s;
}

.btn:hover {
    background: #f4f5f1;




}

/*--------------------------------Contact me -------*/
.contact-left {

    flex-basis: 35%;
}

.contact-right {

    flex-basis: 60%;
}

.contact-left p {

    margin-top: 30px;
}

.contact-left p i {

    color: rgb(247, 62, 62);
    margin-right: 10px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;

}

.socail-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #41bcf5;
    display: inline-block;
    transition: transform 0.5s;
}

.socail-icons a:hover {
    color: #e1ee26;
    transform: translateY(-5px);

}

.btn.btn2 {
    display: inline-block;
    background: #4e747a23;


}

.contact-right form {

    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #f4f5f1;
    font-size: 18px;
    border-radius: 13px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;

}

.btn.btn2:hover {
    color: #eb1111;
    background-color: #59bdc2;

}

.copyright {
    width: 100%; 
    text-align: center;
    padding: 15px 0;
    background: #4b4a5a;
    font-weight: 300;
    margin-top: 20px;
    justify-content: space-between;
    color: #e73232;
    text-decoration: nonn;


}

.copyright  a i

{

    font-size: 50px;
    color: #36ee55;



}









   /* hide menu*/
   nav .fas
   {
    display: none;
   }



/*---------ccssss for small screen*/
@media only screen and (max-width:600px)
{
    #header{
        background-image: url(a.png_1080x1920.jpg);

    }
    #header-text
    {
        margin-top: 100%;
        font-size: 16px;

    }

    .header-text h1
    {
        font-size: 30px;
    }
    
    nav .fas
   {
    display: block;
    font-size: 25px;
   }
   /*----------hiiide menu list----*/
   nav ul 

   {
    background: #e20712;
    position: fixed;
    top: 0;
    left:-200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
   }
   nav ul li
   {
     display: block;
     margin: 25px;



   }


 nav ul  .fas{

    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
 }
.sub-title
{
    font-size: 40px;

}
.about-col-1, .about-col-2
{
    flex-basis: 100%;
}

.about-col-1
{
    margin-bottom: 30px;
}

.about-col-2
{
    font-size: 14px;
}


.tab-links
{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left, .contact-right
{
    flex-basis: 100%;
}




}
#msg{
   color:  #61b752;
   margin-top: -38px;
    display: block;

}
#ma i
{

    color: rgba(147, 94, 207, 0.527);
    
}
#wp i
{
    color: #2de069;
}
